@font-face {
  font-family: 'Pacifico';
  src: url('../assets/font/Pacifico.ttf') format('truetype');
}

.form-wrapper-outer{
  padding: 40px;
  border-radius: 8px;
  margin: auto;
  width: 460px;
  border: 2px solid rgb(194, 219, 243);
  margin-top: 7%;
  background: #fff;
  opacity: 0.8;
}
.form-wrapper-outer .form-logo{
  margin: 0px auto 15px;
  width: 300px;
}

.form-wrapper-outer .form-logo img{
  width: 30%;
  vertical-align: top;
}

.brand{
  font-family: Pacifico;
  font-size: 60px;
  vertical-align: top;
  color: rgb(26, 72, 131);
}

.form-greeting{
  text-align: center;
  font-size: 23px;
  font-weight: 50;
  margin-bottom: 15px;
  font-family: 'Roboto';
  padding: 10px 0px;
}
.form-button{
  text-align: right;
}
.form-link{
  text-align: left;
  padding-left: 10px;
}
.form-link a{
  text-decoration: none !important;
}
.field-wrapper{
  position: relative;
  margin-bottom: 15px;
  opacity: 1;
}

.field-wrapper input{
  border: 1px solid #DADCE0;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
}

.field-wrapper input:focus{
  border:1px solid #1A73E8;
}

.field-wrapper .field-placeholder{
  font-size: 16px;
  position: absolute;
  bottom: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #80868b;
  left: 8px;
  padding: 0 8px;
  -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  z-index: 1;
  text-align: left;
  width: 100%;
}

.field-wrapper .field-placeholder span{
  background: #ffffff;
  padding: 0px 8px;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder
{
  color:#1A73E8;
}
.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder
{
  -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
  transform: scale(.75) translateY(-39px) translateX(-60px);
}
a{
  cursor: pointer;
}
